db.sqlite3
geckodriver.log
bin/
__pycache__
*.pyc
.idea
virtualenv
.vscode
/static
setting_up.txt
aws-info.txt
.env
troubleshooting_logging.txt
env_credentials.py
.DS_Store
functional_tests/.DS_Store
lists/.DS_Store
lists/templates/.DS_Store
