db.sqlite3
geckodriver.log
bin/
__pycache__
*.pyc
*.idea
virtualenv
*.vscode
/static
setting_up.txt
aws-info.txt
*.env
troubleshooting_logging.txt
env_credentials.py
*.DS_Store
superlists/local.env
Chapter24-Warning.txt
Chapter17-Warning.txt
logging_into_ubuntu_ssh.txt
